
/* Пример перевода координат и размеров из px в % относительно 1700x1000 контейнера */
/* Формула: left% = (left_px / 1420) * 100%, top% = (top_px / 850) * 100% */
/* width% = (width_px / 1420) * 100%, height% = (height_px / 850) * 100% */


.body {
  background-color: #B2B2B2;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.highlighted {
  transform: scale(1.1);
  filter: drop-shadow(0 0 15px rgba(0, 191, 255, 0.8));
  transform-origin: center center;
}


.map-container {
  position: relative;
  width: 100%;
  max-width: 1420px;
  aspect-ratio: 1420 / 850;
  overflow: visible;
  
  background-color: #F8EBE2; /* Потом убрать!! */
  border: red solid 10px;  /* Потом убрать!! */

}


.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
}


.img1 {
  position: absolute;
  z-index: 2;
  left: 12.16%;    /* Примерно минус 16 от предыдущего */ 
  top: 15.4%;       /* Примерно минус 19 от предыдущего */ 
  width: 15.28%;
  height: 17.67%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

/* .img1 {
  position: absolute;
  z-index: 2;
  left: 28.16%;
  top: 34.4%;
  width: 15.28%;
  height: 17.67%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
} */

.img2 {
  position: absolute;
  z-index: 2;
  left: 27.20%;
  top: 34.98%;
  width: 15.42%;
  height: 28.59%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img3 {
  position: absolute;
  z-index: 2;
  left: 44.26%;
  top: 34.38%;
  width: 15.28%;
  height: 28.59%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img4 {
  position: absolute;
  z-index: 2;
  left: 62.49%;
  top: 65.22%;
  width: 15.13%;
  height: 28.59%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img5 {
  position: absolute;
  z-index: 2;
  left: 85.67%;
  top: 72.51%;
  width: 23.09%;
  height: 24.79%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

/* Далее деревья */

  /*left отнимаем Примерно минус 16 от предыдущего */ 
  /* top отнимаем Примерно минус 19 от предыдущего */ 

.img6 {
  position: absolute;
  z-index: 2;
  left: 76.89%;
  top: 68.3%;
  width: 6.38%;
  height: 11.91%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img7 {
  position: absolute;
  z-index: 2;
  left: 94.28%;
  top: 87.83%;
  width: 3.84%;
  height: 6.46%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img10 {
  position: absolute;
  z-index: 2;
  left: 31.41%;
  top: 91.09%;
  width: 3.84%;
  height: 6.46%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img11 {
  position: absolute;
  left: 21.3%;
  top: 74.38%;
  width: 3.88%;
  height: 12.71%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img12 {
  position: absolute;
  z-index: 2;
  left: 29.73%;
  top: 75.78%;
  width: 3.88%;
  height: 11.28%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img13 {
  position: absolute;
  z-index: 2;
  left: 96.42%;
  top: 42.34%;
  width: 6.37%;
  height: 15.14%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img14 {
  position: absolute;
  z-index: 2;
  left: 105.22%;
  top: 44.04%;
  width: 6.37%;
  height: 13.43%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img15 {
  position: absolute;
  z-index: 2;
  left: 22.52%;
  top: 108.6%;
  width: 4.92%;
  height: 9.58%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img16 {
  position: absolute;
  z-index: 2;
  left: 21.81%;
  top: 97.3%;
  width: 5.33%;
  height: 11.58%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img17 {
  position: absolute;
  z-index: 2;
  left: 16.89%;
  top: 111.3%;
  width: 4.17%;
  height: 8.46%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img18 {
  position: absolute;
  z-index: 2;
  left: 12.93%;
  top: 94.93%;
  width: 9.21%;
  height: 15.12%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img19 {
  position: absolute;
  z-index: 2;
  left: 74.6%;
  top: 23.96%;
  width: 3.88%;
  height: 12.71%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img20 {
  position: absolute;
  z-index: 2;
  left: 12.74%;
  top: 102.17%;
  width: 6.37%;
  height: 15.14%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img21 {
  position: absolute;
  z-index: 2;
  left: 18.65%;
  top: 101.89%;
  width: 6.37%;
  height: 13.43%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.img30 {
  position: absolute;
  z-index: 2;
  left: 19.0%;
  top: 61.68%;
}

.img31 {
  position: absolute;
  z-index: 2;
  left: 23.93%;
  top: 47.47%;
}

.img32 {
  position: absolute;
  z-index: 2;
  left: 16.18%;
  top: 47.47%;
}

.img33 {
  position: absolute;
  z-index: 2;
  left: 10.56%;
  top: 103.22%;
}

.img34 {
  position: absolute;
  z-index: 2;
  left: 11.27%;
  top: 53.41%;
}

.img36 {
  position: absolute;
  z-index: 2;
  left: 35.19%;
  top: 58.13%;
}

.img37 {
  position: absolute;
  z-index: 2;
  left: 19.71%;
  top: 103.22%;
}

.img38 {
  position: absolute;
  z-index: 2;
  left: 26.04%;
  top: 97.3%;
}

.img39 {
  position: absolute;
  z-index: 2;
  left: 24.63%;
  top: 58.13%;
}

.img40 {
  position: absolute;
  z-index: 2;
  left: 43.64%;
  top: 43.89%;
}

.img41 {
  position: absolute;
  z-index: 2;
  left: 12.67%;
  top: 67.62%;
}

.img42 {
  position: absolute;
  z-index: 2;
  left: 84.48%;
  top: 23.73%;
}

.img43 {
  position: absolute;
  z-index: 2;
  left: 101.03%;
  top: 38.07%;
}

.img44 {
  position: absolute;
  z-index: 2;
  left: 91.52%;
  top: 35.6%;
}

.img45 {
  position: absolute;
  z-index: 2;
  left: 98.51%;
  top: 47.47%;
}

.img46 {
  position: absolute;
  z-index: 2;
  left: 97.48%;
  top: 30.84%;
}

.img47 {
  position: absolute;
  z-index: 2;
  left: 93.6%;
  top: 27.28%;
}

.img48 {
  position: absolute;
  z-index: 2;
  left: 99.3%;
  top: 48.64%;
}

.img49 {
  position: absolute;
  z-index: 2;
  left: 40.83%;
  top: 17.8%;
}

.img50 {
  position: absolute;
  z-index: 2;
  left: 11.27%;
  top: 80.66%;
}

.img51 {
  position: absolute;
  z-index: 2;
  left: 63.37%;
  top: 45.08%;
}

.img52 {
  position: absolute;
  z-index: 2;
  left: 103.44%;
  top: 66.45%;
}

.img53 {
  position: absolute;
  z-index: 2;
  left: 109.78%;
  top: 79.52%;
}

.img54 {
  position: absolute;
  z-index: 2;
  left: 63.37%;
  top: 103.22%;
}

.img55 {
  position: absolute;
  z-index: 2;
  left: 72.51%;
  top: 94.93%;
}

.img56 {
  position: absolute;
  z-index: 2;
  left: 72.51%;
  top: 83.05%;
}

.img57 {
  position: absolute;
  z-index: 2;
  left: 107.68%;
  top: 59.34%;
}

.img58 {
  position: absolute;
  z-index: 2;
  left: 114.74%;
  top: 71.2%;
}

.img59 {
  position: absolute;
  z-index: 2;
  left: 70.4%;
  top: 110.3%;
}

.img60 {
  position: absolute;
  z-index: 2;
  left: 80.93%;
  top: 44.49%;
}
