@import "./reset.css";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

@import "./reset.css";

/* Базовые стили для модального окна */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(44, 42, 42, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1000;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Контент модального окна */
.modal-content {
  background-color: #FFC5C5;
  padding: 30px;
  position: relative;
  width: 520px;
  max-height: 120vh;
  border-radius: 0 20px 20px 0;
  /* Скругление только справа */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 0;
  /* Прижато к левому краю */
  margin-top: 0;
  /* Прижато к верхнему краю */
}

/* Секция с изображением */
.image-segment {
  border-radius: 15px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.image-segment .modal-images {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

/* Информационные блоки */
.info-segment {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Кнопка закрытия */
.close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1002;
  color: #F8EBE2;
  font-size: 20px;
  line-height: 1;
}

/* Основная кнопка - теперь часть модального окна */
.button4 {
  padding: 20px;
  background-color: #FF7878;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  /* Это поместит кнопку в конец контейнера */
  order: 993;
  transform: translateY(-17px);

}

.button-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #F8EBE2;
}

/* Адаптация для разных разрешений */
@media (min-width: 2560px) {
  .modal-content {
    width: 600px;
    padding: 40px;
  }

  .button4 {
    height: 90px;
  }
}

@media (max-width: 1920px) {
  .modal-content {
    width: 480px;
    padding: 25px;
  }
}

@media (max-width: 1366px) {
  .modal-content {
    width: 420px;
    padding: 20px;
  }

  .button4 {
    height: 70px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .modal-content {
    width: 380px;
  }
}